mat-toolbar {
    max-width: 1920px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    background-color: transparent !important;
    color: white;
    .menu{
        background-color: rgba(0,0,0, 0.6);
        border-radius: 50px;
    }
}

.normal{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    .titulo{
        font-family: 'Exo 2', sans-serif;
        font-size: small;
        font-weight: lighter;
    }
    .navbar-toggler{
        border-style: none!important;
        border: none!important;
        
    }
}

.menu{
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

.navbar{
    margin: auto;
    padding: 0;
}

.icono{
    color: white;
}

a{
    font-size: 'Exo 2', sans-serif;
    color: white;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s;
    &:hover {
        font-size: medium;
        color: white;
        //color: rgb(124, 15, 23);
        transition: .2s;
    }
}

.oscuro{
    background-color: rgba(0, 0, 0, .6) !important;
	-webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: white;
    .menu{
        background-color: transparent;
        border-radius: 50px;
    }
}

.is-active{
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

@media screen and (max-width: 655px) {
    .normal{
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        .titulo{
            display: none;
        }
    }
}