<mat-toolbar class="navbar navbar-expand-md fixed-top" [class.oscuro]="true">
  <mat-toolbar-row class="normal" *ngIf="currentInfo$ | async as info">
    <span class="titulo">{{info.frase_izq}}</span>
    <a routerLink="/bienvenido"><img src="{{info.icono_enc}}" height="70" width="100" alt=""></a>
    <span class="titulo">{{info.frase_der}}</span>
    <button mat-button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <mat-icon class="icono">menu</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row class="menu">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" *ngFor="let pagina of listaPaginas">
              <a class="nav-link" [routerLink]="['pagina/',pagina.id]" [routerLinkActive]="['is-active']">{{pagina.nombre}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['atencion-ciudadana']" [routerLinkActive]="['is-active']">Atención Ciudadana</a>
            </li>
            <li class="nav-item" *ngIf="(usuario$ | async)===null">
              <a class="nav-link" [routerLink]="['acceso']" [routerLinkActive]="['is-active']">Acceso</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>