<div class="pg-footer">
    <footer class="footer">
        <svg class="footer-wave-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 100" preserveAspectRatio="none">
            <path class="footer-wave-path"
                d="M851.8,100c125,0,288.3-45,348.2-64V0H0v44c3.7-1,7.3-1.9,11-2.9C80.7,22,151.7,10.8,223.5,6.3C276.7,2.9,330,4,383,9.8 c52.2,5.7,103.3,16.2,153.4,32.8C623.9,71.3,726.8,100,851.8,100z">
            </path>
        </svg>
        <div class="row">
            <!--Logo principal-->
            <div class="col">
                <div class="footer-logo">
                    <a class="footer-logo-link" routerLink="bienvenido">
                        <img class="img-fluid" src="{{infoPrincipal?.icono_pri}}" alt="">
                    </a>
                </div>
            </div>
            <!--Información de contacto-->
            <div class="col">
                <div class="footer-menu">
                    <h2 class="footer-menu-name"> Contacto</h2>
                    <ul id="menu-contacto" class="footer-menu-list">
                        <span class="titulo"><i class="fas fa-clock fa-lg"></i> Horario</span><br>
                        <li>
                            <span class="informacion">{{infoPrincipal?.horario_1}}</span>
                        </li>
                        <li *ngIf="infoPrincipal?.horario_2!=''">
                            <span class="informacion">{{infoPrincipal?.horario_2}}</span>
                        </li>
                        <br>
                        <span class="titulo"><i class="fas fa-phone-alt fa-lg"></i> Teléfono</span><br>
                        <li>
                            <p class="footer-call-to-action-link-wrapper">
                                <span class="informacion"><a class="footer-call-to-action-link" href="tel:{{infoPrincipal?.telefono1}}" target="_self"> {{infoPrincipal?.telefono1}}</a></span>
                            </p>
                        </li>
                        <li *ngIf="infoPrincipal?.telefono2!=''">
                            <p class="footer-call-to-action-link-wrapper">
                                <span class="informacion"><a class="footer-call-to-action-link" href="tel:{{infoPrincipal?.telefono2}}" target="_self"> {{infoPrincipal?.telefono2}}</a></span>
                            </p>
                        </li>
                        <br>
                        <span class="titulo"><i class="fas fa-envelope fa-lg"></i> Email</span><br>
                        <li>
                            <span class="informacion"><a href="mailto:{{infoPrincipal?.email1}}" target="_blank" rel="noopener noreferrer">{{infoPrincipal?.email1}}</a><br></span>
                        </li>
                        <li *ngIf="infoPrincipal?.email2!=''">
                            <span class="informacion"><a href="mailto:{{infoPrincipal?.email2}}" target="_blank" rel="noopener noreferrer">{{infoPrincipal?.email2}}</a></span>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Ubicación-->
            <div class="col">
                <div class="footer-menu">
                    <h2 class="footer-menu-name"> Ubicación</h2>
                    <ul id="menu-ubicacion" class="footer-menu-list">
                        <li>
                            <span class="informacion">
                                <i class="fas fa-map-marker-alt fa-lg"></i>
                                <a href="{{infoPrincipal?.direccion_link}}" target="_blank" rel="noopener noreferrer">
                                    {{infoPrincipal?.direccion}}
                                </a>
                            </span>
                        </li>
                    </ul>
                </div><br>
                <div class="footer-menu">
                    <h2 class="footer-menu-name"> Redes sociales</h2>
                    <ul id="menu-redes" class="footer-menu-list">
                        <li *ngIf="infoPrincipal?.facebook!=''">
                            <span class="informacion"><a href="{{infoPrincipal?.facebook_link}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f fa-lg"></i> {{infoPrincipal?.facebook}}</a></span>
                        </li>
                        <li *ngIf="infoPrincipal?.twitter!=''">
                            <span class="informacion instagram"><a href="{{infoPrincipal?.twitter_link}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter fa-lg"></i> {{infoPrincipal?.twitter}}</a></span>
                        </li>
                        <li *ngIf="infoPrincipal?.instagram!=''">
                            <span class="informacion instagram"><a href="{{infoPrincipal?.instagram_link}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram fa-lg"></i> {{infoPrincipal?.instagram}}</a></span>
                        </li>
                        <li *ngIf="infoPrincipal?.youtube!=''">
                            <span class="informacion youtube"><a href="{{infoPrincipal?.youtube_link}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube fa-lg"></i> {{infoPrincipal?.youtube}}</a></span>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Redes sociales y chat-->
            <div class="col">
                <div class="footer-menu">
                    <ul id="menu-company" class="footer-menu-list">
                        <p class="emergencia">
                            <span class="numero">911</span><br>
                            <span class="texto">número</span><br>
                            <span class="texto">único de</span><br>
                            <span class="texto">emergencias</span><br>
                            <span class="servicios">Cruz Roja · Bomberos · Tránsito· Policía</span>
                        </p>
                    </ul>
                </div>
            </div>
        </div><br><br>
        <div class="footer-copyright">
            <div class="footer-copyright-wrapper">
                <p class="footer-copyright-text">
                    <a class="footer-copyright-link" routerLink="bienvenido" target="_self">{{infoPrincipal?.frase_inf}}</a>
                </p>
            </div>
        </div>
    </footer>
</div>