<div *ngIf="pagina$ | async as pagina" class="container-fluid" style="background: url('{{pagina?.fondoPagina}}')center / cover no-repeat !important; background-attachment: fixed !important;">
  <header style="background: rgba(0, 0, 0, 0.2) url('{{pagina?.fondoEncabezado}}');">
    <div class="overlay">
      <h1>{{pagina?.nombre}}</h1>
      <h3>{{pagina?.descripcion}}</h3>
    </div>
  </header>
  <app-nueva-publicacion *ngIf="(usuario$ | async)?.rol=='Administrador'"></app-nueva-publicacion>
  <app-card-publicacion *ngFor="let publicacion of publicaciones$ | async" [publicacion]="publicacion"></app-card-publicacion>
  <!--
  <button mat-fab color="primary" matTooltip="Nueva publicación" aria-label="Example icon button with a delete icon"
    (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>-->
  <button *ngIf="(usuario$ | async)?.rol=='Administrador'" mat-fab [matMenuTriggerFor]="aboveMenu" matTooltip="Acciones"><mat-icon>add</mat-icon></button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item (click)="openCrearPublicacion()">
      <mat-icon>publish</mat-icon>
      <span>Nueva publicación</span>
    </button>
    <button mat-menu-item (click)="openEditarPagina(pagina)">
      <mat-icon>settings</mat-icon>
      <span>Ajustes de página</span>
    </button>
  </mat-menu>
</div>