<div class="row">
    <div class="col publicaciones">
        <mat-card class="card-publicacion">
            <mat-card-header *ngIf="true" class="actions">
                <button mat-icon-button matTooltip="Editar publicación" class="edit" (click)="openEditPublicacion(publicacion)"><mat-icon>edit</mat-icon></button>
                <button *ngIf="publicacion.duracion=='Indeterminado'" mat-icon-button matTooltip="{{texto}}" class="show-hide" matSuffix (click)="hide = !hide" [attr.aria-label]="'Publicacion oculta'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Eliminar publicación" class="delete"><mat-icon>close</mat-icon></button>
            </mat-card-header>
            <mat-card-header mat-card-image class="author">
                <div mat-card-avatar class="image-perfil"></div>
                <mat-card-title>Municipio de San Jacinto Amilpas</mat-card-title>
                <mat-card-subtitle>{{publicacion.fecha_pub | date:'medium'}}</mat-card-subtitle>
            </mat-card-header>

            <div id="iframe" mat-card-image *ngIf="publicacion.formato=='iframe'"></div>
            
            <img *ngIf="publicacion?.formato=='image'" mat-card-image src="{{publicacion.multimedia}}" alt="">

            <video *ngIf="publicacion?.formato=='video'" mat-card-image controls>
                <!--<source src="./../../assets/test.mp4" type="video/mp4">-->
                <source src="{{publicacion.multimedia}}" type="video/mp4">
            </video>

            <mat-card-content mat-card-image>
                {{publicacion.descripcion}}
            </mat-card-content>
        </mat-card>
    </div>
</div>