.toast-success {
  color: #155724;
  font-weight: bold;
  background-color: #d4edda;
  border-color: #c3e6cb;
  display: flex;
  width: 100%;
}

.toast-error {
  color: #721c24;
  font-weight: bold;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  display: flex;
  width: 100%;
}

.toast-warning {
  color: #856404;
  font-weight: bold;
  background-color: #fff3cd;
  border-color: #ffeeba;
  display: flex;
  width: 100%;
}

.close {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

.toast-heading {
  margin-top: 10px;
}