<h1 *ngIf="editMode===false" mat-dialog-title>
    <span>Crear publicación</span>
    <mat-icon mat-dialog-close matTooltip="Cancelar">cancel</mat-icon>
</h1>
<h1 *ngIf="editMode===true" mat-dialog-title>
    <span>Editar publicación</span>
    <mat-icon mat-dialog-close matTooltip="Cancelar">cancel</mat-icon>
</h1>

<form [formGroup]="formPublicacion" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <div class="row">
            <mat-form-field class="full-width">
                <mat-label>Descripción de la publicación</mat-label>
                <textarea matInput rows="3" placeholder="El H. Ayuntamiento de San Jacinto Amilpas ha realizado ..." formControlName="descripcion"></textarea>
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <mat-label>Duración de la publicación</mat-label>
                    <span matPrefix><mat-icon>calendar_today</mat-icon> &nbsp;</span>
                    <mat-select [(value)]="duracion" (selectionChange)="cambiarDuracion(duracion)" formControlName="duracion">
                      <mat-option [value]="option" *ngFor="let option of duracionPublicacion">{{ option }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-slide-toggle *ngIf="duracion=='Indeterminado'" [checked]="oculto" color="primary">¿Publicacion oculta?</mat-slide-toggle>
                <mat-form-field class="full-width" *ngIf="duracion=='Periodo de tiempo'">
                    <mat-label>Indique el rango de la fecha</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate formControlName="fecha_inicio" placeholder="Inicio">
                        <input matEndDate formControlName="fecha_fin" placeholder="Fin">
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-error *ngIf="formPublicacion.get('fecha_inicio')?.hasError('required')">Seleccione una fecha inicio válida</mat-error>
                    <mat-error *ngIf="formPublicacion.get('fecha_fin')?.hasError('required')">Seleccione una fecha fin válida</mat-error>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <mat-form-field class="full-width">
                <mat-label>Tipo de publicación</mat-label>
                <span matPrefix><mat-icon>cloud_upload</mat-icon> &nbsp;</span>
                <mat-select [(value)]="tipo_pub" (selectionChange)="cambiarTipo(tipo_pub)" formControlName="tipo">
                  <mat-option [value]="option" *ngFor="let option of tipoPublicacion">{{ option }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <input *ngIf="tipo_pub=='Subir imagen/video desde dispositivo'" type='file' (change)="onSelectFile($event)" formControlName="multimedia"/>
            <mat-form-field class="full-width" *ngIf="tipo_pub!='Subir imagen/video desde dispositivo'">
                <mat-label>Link de multimedia</mat-label>
                <span matPrefix><mat-icon>link</mat-icon> &nbsp;</span>
                <input matInput type="text" value="{{formPublicacion.value.multimedia}}" formControlName="multimedia">
            </mat-form-field>
        </div>
        <div class="row contenido">
            <img class="img-fluid" [src]="url" *ngIf="format==='image' && url">
            <video [src]="url" *ngIf="format==='video' && url" controls></video>
            <img class="img-fluid" src="{{formPublicacion.value.multimedia}}" *ngIf="tipo_pub!='Subir imagen/video desde dispositivo'">
            <div id="iframe" mat-card-image *ngIf="format=='iframe'"></div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button [disabled]="formPublicacion.invalid">
            <mat-icon>publish</mat-icon>Publicar
        </button>
    </mat-dialog-actions>
</form>