:host ::ng-deep .mat-form-field-label {
    color: rgb(92, 92, 92) !important;
}

:host ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: rgb(98, 17, 50) !important;
}

:host ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    //background-color: rgb(98, 17, 50) !important;
}

:host ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: rgb(98, 17, 50) !important;
    ;
}

:host ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: rgb(98, 17, 50) !important;
    ;
}

:host ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    color: rgb(66, 134, 244);
    background-color: rgb(98, 17, 50) !important;
    ;
}

:host ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: rgb(98, 17, 50) !important;
    ;
}

.mat-dialog-title {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    font-family: 'Exo 2', sans-serif;
    color: rgb(98, 17, 50);

    .mat-icon {
        color: darkgray;
        font-size: 30px;
    }
}

.mat-dialog-content {
    .row{
        margin-bottom: 10px;
    }

    .personalizado{
        max-width: 380px !important;
    }

    .radio-button {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .mat-hint{
        font-size: smaller;

        .mat-icon{
            font-size: large;
            margin: 0;
            padding: 0;
        }
    }
/*
    .tiempo{
        max-width: fit-content;
    }*/
}

.full-width{
    width: 100%;
}

.contenido{
    max-width: 800px;
}

.mat-raised-button{
    width: 100%;
    background-color: rgb(98, 17, 50);
    color: #fff;
}