<div class="container-fluid">
    <h1>Ajustes de cuenta</h1>
    <p><mat-icon>info</mat-icon>La información propocionada no tiene ningun efecto sobre su inicio de sesión</p>
    <div class="container">
        <form class="formulario" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <p class="titulo">Información General</p>
            <div class="row">
                <div class="col col_imagen">
                    <img class="img-fluid" [src]="imgURL" *ngIf="imgURL">
                </div>
            </div>
            <div class="row">
                <mat-label class="centrar">Foto de perfil</mat-label>
                <input #file type="file" accept='image/*' (change)="preview(file.files)">
            </div>
            <div class="row">
                <mat-form-field class="full-width">
                    <mat-label>Nombre completo</mat-label>
                    <input matInput type="text" placeholder="" formControlName="nombre">
                    <mat-error *ngIf="profileForm.get('nombre')?.hasError('required')">Este campo es requerido</mat-error>
                </mat-form-field>
            </div>
            <p class="titulo">Información de Contacto</p>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Teléfono</mat-label>
                        <span matPrefix><mat-icon>phone</mat-icon> &nbsp;</span>
                        <input matInput type="tel" #telefono1 maxlength="10" placeholder="1234567890" formControlName="telefono">
                        <mat-hint align="end">{{telefono1.value.length}} / 10</mat-hint>
                        <mat-error *ngIf="profileForm.get('telefono')?.hasError('pattern')">Revise en número ingresado (solo números sin espacios)</mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Email de contacto</mat-label>
                        <span matPrefix><mat-icon>email</mat-icon> &nbsp;</span>
                        <input matInput type="text" placeholder="ejemplo@gmail.com" formControlName="email">
                        <mat-error *ngIf="profileForm.get('email')?.hasError('required')">Este campo es requerido</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <p class="titulo">Dirección</p>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Calle</mat-label>
                        <input matInput type="text" placeholder="Independencia" formControlName="calle">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col col-mitad">
                    <mat-form-field class="full-width">
                        <mat-label>Num. Exterior</mat-label>
                        <input matInput type="text" placeholder="25" formControlName="numExterior">
                    </mat-form-field>
                </div>
                <div class="col col-mitad">
                    <mat-form-field class="full-width">
                        <mat-label>Num. Interior</mat-label>
                        <input matInput type="text" placeholder="25" formControlName="numInterior">
                    </mat-form-field>
                </div>
                <div class="col col-colonia">
                    <mat-form-field>
                        <mat-label>Colonia</mat-label>
                        <mat-select formControlName="colonia">
                          <mat-optgroup *ngFor="let group of coloniaGroups" [label]="group.nombre"
                                        [disabled]="group.disabled">
                            <mat-option *ngFor="let colonia of group.colonia" [value]="colonia.nombre">
                              {{colonia.nombre}}
                            </mat-option>
                          </mat-optgroup>
                        </mat-select>
                        <mat-error *ngIf="profileForm.get('colonia')?.hasError('required')">Seleccione su colonia por favor</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <button mat-raised-button type="submit" class="guardar" [disabled]="profileForm.invalid"><mat-icon>save</mat-icon> Guardar Cambios</button>
        </form>
        <button mat-stroked-button color="warn" class="eliminar" (click)="deleteUser()"><mat-icon>delete_forever</mat-icon> Eliminar cuenta</button>
    </div>
</div>