.container-fluid {
    max-width: 1500px;
    margin-bottom: 25px;
}

.row{
    margin-bottom: 10px;
}

h1 {
    margin-top: 115px;
    margin-bottom: 0;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(98, 17, 50);
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: rgb(98, 17, 50);
}

p {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: bold;

    .mat-icon {
        font-size: larger;
        padding: 0;
        margin: 0;
    }
}

.titulo{
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    color: rgb(98, 17, 50);
    font-weight: bold;
    border-bottom: 1px solid rgb(98, 17, 50);
}

.container {
    justify-content: center;
    max-width: 500px;
}

.col_imagen {
    width: fit-content;
    display: flex;
    justify-content: center;
}

:host ::ng-deep .mat-form-field-label {
    color: rgb(92, 92, 92) !important;
}

:host ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: rgb(98, 17, 50) !important;
}

:host ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    //background-color: rgb(98, 17, 50) !important;
}

:host ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: rgb(98, 17, 50) !important;
    ;
}

:host ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: rgb(98, 17, 50) !important;
    ;
}

:host ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    color: rgb(66, 134, 244);
    background-color: rgb(98, 17, 50) !important;
    ;
}

:host ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: rgb(98, 17, 50) !important;
    ;
}

.img-fluid {
    max-width: 150px;
    border-radius: 50%;
}

.mat-slide-toggle {
    margin-top: 10px;
    margin-bottom: 10px;
}

.guardar {
    width: 100%;
    height: 40px;
    margin: 10px auto;
    border-radius: 25px !important;
    justify-content: center;
    display: block;
    color: #fff;
    background: rgb(98, 17, 50);
    font-size: 1em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
}

.eliminar{
    width: 100%;
    height: 40px;
    margin: 10px auto;
    border-radius: 25px !important;
    justify-content: center;
    display: block;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-top: 35px;
    border-radius: 5px;
}

.imagen {
    display: flex;
    justify-content: center;
}

.formulario {
    //max-width: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.full-width {
    width: 100%;
}

.col-mitad{
    width: 20%;
}

.col-colonia{
    width: 60%
}

.genero {
    display: flex;
    justify-content: space-around;
}