<mat-sidenav-container class="container-side" [class.veda]="infoPrincipal.tema_pagi">
    <!-- Contenido del menú oculto lateral -->
    <mat-sidenav #sidenav mode="over">
        <!-- Datos del usuario (imagen, nombre, rol) -->
        <p class="imagen">
            <img src="{{usuario?.fotoPerfil}}" 
            class="img-fluid" 
            height="100" width="100" 
            alt="Foto de perfil" 
            loading="lazy"/>
        </p>
        <p class="usuario">{{usuario?.nombre}}</p>
        <p class="rol">{{usuario?.rol}}</p>
        <mat-divider></mat-divider>
        <!-- Links a los apartados -->
        <mat-nav-list>
            <div mat-subheader>Página</div>

            <mat-list-item [routerLink]="['/dashboard']" [routerLinkActive]="['active']" (click)="sidenav.toggle()">
                <mat-icon matListIcon>dashboard</mat-icon>
                <a matLine>Dashboard</a>
            </mat-list-item>

            <mat-list-item [routerLink]="['/info-pagina']" [routerLinkActive]="['active']" (click)="sidenav.toggle()">
                <mat-icon matListIcon>info</mat-icon>
                <a matLine>Información de la Página</a>
            </mat-list-item>

            <mat-list-item [routerLink]="['/notificaciones']" [routerLinkActive]="['active']" (click)="sidenav.toggle()">
                <mat-icon matListIcon>add_alert</mat-icon>
                <a matLine>Nueva Notificación</a>
            </mat-list-item>

            <mat-list-item [routerLink]="['/usuarios']" [routerLinkActive]="['active']" (click)="sidenav.toggle()">
                <mat-icon matListIcon>group</mat-icon>
                <a matLine>Usuarios</a>
            </mat-list-item>

            <mat-divider *ngIf="usuario?.rol=='admin'"></mat-divider>
            <div mat-subheader>Cuenta</div>
            <mat-list-item [routerLink]="['/ajustes-cuenta']" [routerLinkActive]="['active']" (click)="sidenav.toggle()">
                <mat-icon matListIcon>settings</mat-icon>
                <a matLine>Ajustes de Cuenta</a>
            </mat-list-item>

            <mat-list-item [routerLink]="['/ajustes']" [routerLinkActive]="['active']" (click)="sidenav.toggle()">
                <mat-icon matListIcon>notifications</mat-icon>
                <a matLine>Notificaciones</a>
            </mat-list-item>

            <mat-list-item [routerLink]="['/mensajes']" [routerLinkActive]="['active']" (click)="sidenav.toggle()">
                <mat-icon matListIcon>message</mat-icon>
                <a matLine>Mensajes</a>
            </mat-list-item>

            <mat-list-item (click)="logout(); sidenav.toggle()">
                <mat-icon matListIcon>exit_to_app</mat-icon>
                <a matLine>Cerrar Sesión</a>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item (click)="sidenav.toggle()">
                <mat-icon matListIcon>arrow_back_ios</mat-icon>
                <a matLine>Ocultar Menú</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <!-- Contenido principal -->
    <mat-sidenav-content>
        <!-- Llamada al componente del Header para mostrarse -->
        <app-header></app-header>
        <div class="container-fluid">
            <!-- Enrutador identifica a que componente se llama y lo muestra en este espacio -->
            <router-outlet></router-outlet>
        </div>
        <!-- Llamada al componente del Footer para mostrarse -->
        <app-footer></app-footer>
        <!-- Botón para visualizar el menú oculto 
        <button mat-fab *ngIf="usuario?.rol!=null" matTooltip="Mostrar menu" (click)="sidenav.toggle()"><mat-icon>arrow_forward_ios</mat-icon></button>-->
        <button mat-fab matTooltip="Mostrar menu" (click)="sidenav.toggle()"><mat-icon>arrow_forward_ios</mat-icon></button>
    </mat-sidenav-content>
</mat-sidenav-container>