.container-side {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //max-width: 1920px;
    width: 100%;
    margin: auto;
}

.veda{
    filter: grayscale(1);
}

p {
    display: flex;
    justify-content: center;
}

.imagen {
    margin-top: 5px;
}

.usuario {
    padding: 2px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.rol {
    font-size: small;
    font-weight: bold;
}

.mat-sidenav-content{
    background-color: white;
}

.mat-fab {
    background-color: rgba(0,0,0,0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: white;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.mat-list-item.active{
    color: #fff;
    background-color: rgb(98, 17, 50);
}

.container-fluid {
    //background-color: rgb(105, 28, 32);
    width: 100%;
}

.mat-sidenav-content{
    //max-width: 1280px !important;
    width: 100%;
    margin: auto;
}