.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-radio-group {
    display: block;
    border: 1px solid #555;
    margin: 20px;
    padding: 10px;
}

.mat-sidenav-content{
    background-color: white;
}

.mat-toolbar {
    background-color: transparent;
}

.mat-button {
    border-radius: 25px;
    background-color: rgba(0,0,0,0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    //background-color: rgb(62,24,77);
    //background-color: rgb(114, 13, 21);
    //background-color: rgb(13,114,103);
    color: white;
}

p {
    display: flex;
    justify-content: center;
}

.imagen {
    margin-top: 5px;
}

.usuario {
    padding: 2px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.rol {
    font-size: small;
    font-weight: bold;
}

.container-fluid {
    //background-color: rgb(105, 28, 32);
    width: 100%;
}

.mat-sidenav-content{
    .mat-button{
        position: fixed;
        bottom: 20px;
        left: 20px;
    }
}