<div class="container-fluid">
    <h1>Usuarios de la página</h1>
    <p><mat-icon>info</mat-icon>Se muestran los usuarios registrados en la página</p>

    <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese cualquier valor" #input>
    </mat-form-field>
      
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>
        
          <!-- Progress Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
          </ng-container>
        
          <!-- Fruit Column -->
          <ng-container matColumnDef="rol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
            <td mat-cell *matCellDef="let row">
              <mat-form-field>
                <mat-label>Rol del usuario</mat-label>
                <mat-select [(value)]="row.rol" (selectionChange)="updateRol(row.id, row.rol)">
                  <mat-option [value]="option" *ngFor="let option of roles">{{ option }}</mat-option>
                </mat-select>
              </mat-form-field>
              </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No se han encontrado datos con: "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
      
</div>