@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

* {
  box-sizing: border-box;
}

.container-fluid{
  max-width: 1500px;
  margin-bottom: 25px;
}

.container{
  background-image: url('../../assets/fondoChat3.png');
  border-radius: 25px;
}

.enc{
  display: flex;
  justify-content: flex-end;
}

img{
  border-radius: 50%;
}

h1{
  margin-top: 115px;
  margin-bottom: 0;
  font-family: 'Exo 2', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(98, 17, 50);
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: rgb(98, 17, 50);
}

.mat-button{
  width: fit-content;
  border-radius: 25px;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;

  .mat-button{
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: bold;
  }

  .activas{
    color: green;
  }

  .eliminadas{
    color: red;
  }

  a{
    cursor: pointer;
  }
  
  h2 {
    text-align: center;
  }
  
  .color {
    color: rgb(98, 17, 50);
  }
  
  .card {
    display: block;
    top: 0px;
    position: relative;
    max-width: 262px;
    background-color: #F4F4F4;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #F4F4F4;
    border-radius: .7em;
  }
  
  .card:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }
  
  .card::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: rgb(98, 17, 50);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }
  
  .card:hover::before {
    transform: scale(2.15);
    background-image: radial-gradient(ellipse at bottom left, rgba(0, 163, 203, 1) 40%, rgba(0, 163, 203, 0) 40%),
      radial-gradient(ellipse at top right, rgba(0, 163, 203, 1) 30%, rgba(0, 163, 203, 0) 30%),
      linear-gradient(
        to right,
        rgba(98, 87, 147, 1) 0%,
        rgba(98, 87, 147, 1) 33%,
        rgba(213, 93, 100, 1) 33%,
        rgba(213, 93, 100, 1) 66%,
        rgba(228, 145, 41, 1) 66%
      );
    background-size: 50% 100%;
  }
  
  h3 {
    color: #262626;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    margin: 4px;
    text-align: center;
  }
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  img {
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    display: block;
    margin: auto;
  }
  
  ::ng-deep .mat-tooltip {
      text-align: justify !important;
  }
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 990px) {
  .cards { grid-template-columns: repeat(4, 1fr); }
}