<div class="container-fluid">
  <h1><mat-icon>dashboard</mat-icon> Tablero</h1>
  <div class="row enc">
    <button *ngIf="user$ | async as usuario" mat-button [matMenuTriggerFor]="menu">
      <img [src]="usuario.fotoPerfil" width="35" height="35" alt=""> {{usuario.nombre}}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/ajustes-cuenta']">
        <mat-icon>settings</mat-icon>
        <span>Ajustes de cuenta</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>
  </div>

  <div class="container">
    <h2>Usuarios</h2>
    <div class="cards">
      <a class="card" (click)="navegar('usuarios')">
        <h3 class="color">Cuentas</h3>
        <h2>
          <button mat-button class="activas"><mat-icon>check</mat-icon> {{userAct}} activas</button>
          <mat-divider></mat-divider>
          <button mat-button class="eliminadas"><mat-icon>close</mat-icon> {{userDel}} eliminadas</button>
        </h2>
        <div class="go-corner">
          <div class="go-arrow">→</div>
        </div>
      </a>

      <a class="card" (click)="navegar('usuarios')">
        <h3 class="color">Administradores</h3>
        <h2>
          <button mat-button class="activas"><mat-icon>check</mat-icon> {{adminis}} activos</button>
          <mat-divider></mat-divider>
          <button mat-button class="eliminadas"><mat-icon>close</mat-icon> {{adminDel}} eliminados</button>
        </h2>
        <div class="go-corner">
          <div class="go-arrow">→</div>
        </div>
      </a>

      <a class="card" (click)="navegar('usuarios')">
        <h3 class="color">Habitantes</h3>
        <h2>
          <button mat-button class="activas"><mat-icon>check</mat-icon> {{habitan}} activos</button>
          <mat-divider></mat-divider>
          <button mat-button class="eliminadas"><mat-icon>close</mat-icon> {{habitDel}} eliminados</button>
        </h2>
        <div class="go-corner">
          <div class="go-arrow">→</div>
        </div>
      </a>
    </div>
    <h2>Páginas</h2>
    <div class="cards">
      <a class="card" (click)="navegar('solicitudes')">
        <h3 class="color">Atención ciudadana</h3>
        <h2>
          <button mat-button class="activas"><mat-icon>assignment_turned_in</mat-icon> {{atendidas}} atendidas</button>
          <mat-divider></mat-divider>
          <button mat-button class="eliminadas"><mat-icon>assignment_late</mat-icon> {{pendientes}} pendientes</button>
        </h2>
        <div class="go-corner">
          <div class="go-arrow">→</div>
        </div>
      </a>

      <a class="card" (click)="navegar('bienvenido')">
        <h3 class="color">Bienvenida</h3>
        <h2>
          <button mat-button class="activas"><mat-icon>picture_in_picture</mat-icon> {{banners}} encabezados</button>
          <mat-divider></mat-divider>
          <button mat-button class="activas"><mat-icon>person</mat-icon> {{integrantes}} integrantes</button>
        </h2>
        <div class="go-corner">
          <div class="go-arrow">→</div>
        </div>
      </a>
    </div>
    <h2>Publicaciones</h2>
    <div class="cards">
      <a class="card">
        <h3 class="color">Publicaciones totales</h3>
        <h2>
          {{publicaciones}} <br>publicaciones
        </h2>
        <div class="go-corner">
          <div class="go-arrow">→</div>
        </div>
      </a>

      <a class="card" (click)="navegar('pagina/casa-de-cultura')">
        <h3 class="color">Casa de cultura</h3>
        <h2>
          {{casaCultura}} <br>publicaciones
        </h2>
        <div class="go-corner">
          <div class="go-arrow">→</div>
        </div>
      </a>

      <a class="card" (click)="navegar('pagina/comunicacion')">
        <h3 class="color">Comunicación</h3>
        <h2>
          {{comunicacion}} <br>publicaciones
        </h2>
        <div class="go-corner">
          <div class="go-arrow">→</div>
        </div>
      </a>

      <a class="card" (click)="navegar('pagina/leyes-y-reglamentos')">
        <h3 class="color">Leyes y reglamentos</h3>
        <h2>
          {{leyes}} <br>publicaciones
        </h2>
        <div class="go-corner">
          <div class="go-arrow">→</div>
        </div>
      </a>

      <a class="card" (click)="navegar('pagina/seguridad')">
        <h3 class="color">Seguridad</h3>
        <h2>
          {{seguridad}} <br>publicaciones
        </h2>
        <div class="go-corner">
          <div class="go-arrow">→</div>
        </div>
      </a>
    </div>
  </div>
</div>