<div class="row contenedor">
    <div class="col nueva-publicacion">
        <button mat-button class="escribir" (click)="openDialog()">Vamos a escribir ...</button>
        <mat-divider></mat-divider>
        <div class="row">
            <div matTooltip="Subir contenido desde el dispositivo" class="col botones"><button mat-button (click)="openDialog()"><mat-icon class="add-foto">cloud_upload</mat-icon>Foto/video</button></div>
            <div matTooltip="Insertar publicación de una red social" class="col botones"><button mat-button (click)="openDialog()"><mat-icon class="add-insert">code</mat-icon>Insertar</button></div>
        </div>
    </div>
</div>