<div class="container-fluid">
    <h1>Mensajes</h1>
    <div class="container">
        <mat-drawer-container class="messages mat-elevation-z5" [hasBackdrop]="true">
            <mat-drawer #drawer over>
                <div class="search-input">
                    <mat-form-field>
                        <input matInput placeholder="Buscar usuarios..." [matAutocomplete]="users"
                            [formControl]="searchControl">
                        <mat-autocomplete #users="matAutocomplete">
                            <mat-option *ngFor="let user of users$ | async" [value]="''"
                                (click)="createChat(user); drawer.toggle()">
                                {{user.nombre }} ({{user.rol}})
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <button mat-raised-button (click)="drawer.toggle()">
                    <mat-icon>chevron_left</mat-icon> Ocultar conversaciones
                </button>
                <mat-divider></mat-divider>
                <mat-selection-list [multiple]="false" [formControl]="chatListControl">
                    <mat-list-option *ngFor="let chat of myChats$ | async" [value]="chat.id" (click)="drawer.toggle()">
                        <img matListAvatar [src]="chat.chatPic ? chat.chatPic : 'assets/perfil.webp'" alt="">
                        <p mat-line class="chat-title">
                            <span class="chat-name">{{chat.chatName}}</span>
                            <span class="chat-date">{{chat.lastMessageDate | dateDisplay}}</span>
                        </p>
                        <p mat-line>
                            {{chat.lastMessage}}
                        </p>
                        <mat-divider></mat-divider>
                    </mat-list-option>
                </mat-selection-list>
            </mat-drawer>
            <mat-drawer-content>
                <div class="messages-header" *ngIf="selectedChat$ | async as selectedChat; else noMessages">
                    <button mat-icon-button (click)="drawer.toggle()">
                        <mat-icon>chevron_right</mat-icon>
                    </button>
                    <img [src]="selectedChat.chatPic ? selectedChat.chatPic : ''" alt="">
                    <h2>{{selectedChat.chatName}}</h2>
                </div>
                <ng-template #noMessages>
                    <div class="espacio">
                        <h1>Hola, presiona el icono para mostrar las conversaciones</h1>
                        <button mat-button (click)="drawer.toggle()"><img class="img-fluid"
                                src="../../assets/icono-mensaje.png" width="100" height="100"></button>
                    </div>
                </ng-template>
                <mat-divider></mat-divider>
                <div class="chat-area">
                    <ng-container *ngIf="user$ | async as currentUser">
                        <div *ngFor="let message of messages$ | async" class="chat-bubble-container"
                            [ngClass]="{'sender': message.senderId === currentUser.id}">
                            <div class="chat-bubble">
                                {{message.text}}
                                <span class="chat-time">
                                    {{message.sendDate | dateDisplay}}
                                </span>
                            </div>
                        </div>
                        <div #endOfChat></div>
                    </ng-container>
                </div>
                <div class="input-area">
                    <mat-form-field appearance="outline">
                        <input [formControl]="messageControl" matInput placeholder="Mensaje"
                            (keydown.enter)="sendMessage()">
                        <button mat-icon-button matSuffix (click)="sendMessage()">
                            <mat-icon>send</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>