<div class="container-fluid">
    <h1>Módulo de notificaciones</h1>
    <p><mat-icon>info</mat-icon>Enviar notificaciones a usuarios</p>

    <div class="container">
        <form class="formulario" action="">
            <mat-form-field class="full-width">
                <mat-label>Título de la notificación</mat-label>
                <input matInput type="text" placeholder="">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Texto de la notificación</mat-label>
                <input matInput type="text" placeholder="">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Nombre de la notificación</mat-label>
                <input matInput type="text" placeholder="">
            </mat-form-field>
            <button mat-raised-button type="submit" class="guardar"><mat-icon>send</mat-icon> Enviar</button>
        </form>
    </div>
</div>